.fillter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  border-right: 1px solid rgba(63, 81, 181, 255);
  padding: 10px;
  background-color: rgba(236, 238, 248, 0.7);
}
.divider {
  height: 1px;
  width: 96%;
  margin: 7.5% 0px 7.5% 0px;
  background-color: rgba(63, 81, 181, 255);
}
.fillter-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  padding: 7.5%;
}
.fillter-select {
  width: 80% !important;
}
#checkbox {
  margin-top: 5%;
}
#button {
  margin: 20% 0px 0px 0px;
}
.fields {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1024px) {
  .fillter-container {
    width: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .fillter-container {
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
  }
  .fillter-wrapper,
  .fillter-container {
    margin: 0px;
  }
  .divider {
    margin: 2.75% 0px 2.75% 0px;
    width: 92%;
  }
  #button {
    margin: 10% 20% 0px 0px;
  }
}
