#mainContent {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 25px 25px 100px 25px;
}

#content {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: row;
}

#image img {
  max-width: 300px;
  height: auto;
}

#image {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail {
  width: 60%;
  margin: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-left-color: rgb(53, 53, 53);
  border-left-width: 1px;
  border-left-style: solid;
}

.texts {
  padding: 10px;
}

#reviews {
  display: flex;
  flex-direction: column;
}

#insertReview {
  height: 200px;
  width: 100%;
  border: none;
  background-color: unset;
  padding: 0px;
  align-items: unset;
  display: flex;
  flex-direction: column;
}

#buttonInsert {
  width: 200px;
  align-self: flex-end;
  margin-top: 10px;
}
.button {
  margin-top: 5%;
}
